@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans|Roboto:400,700&display=swap");

body {
  background-color: #e7e7e7;
}

/* Start app styling */
.app {
	h1 {
		font-family: "Montserrat", "Roboto", sans-serif;
		text-transform: capitalize;
		text-align: center;
		font-weight: 700;
	}
	.icon {
		color: #28a745;
	}
}
/* End app styling */

/* Start global style */
.container {
  width: 95%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", "Roboto", sans-serif;
  font-weight: 700;
  color: #272727;
}
/* End products container */

/* Start navbar */
nav {
  display: block;
  width: 100%;
  margin-bottom: 10px;

	a {
		font-family: "Montserrat", "Roboto", sans-serif;
		font-weight: 700;
		text-decoration: none;
		padding: 10px;
		text-align: center;
		color: #272727;
		display: block;
		transition: all .5s ease-in-out;
		border-bottom: 2px solid #272727;

		.active,
		:hover,
		:focus {
			border-bottom-color: #686868;
			color: #686868;
		}
	}
}
/* End navbar */

/* Start product card */
.product-card {
  padding: 0;
  width: 100%;
  margin: 10px auto;
  max-width: 300px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 5px 5px 7px #686868;
	
	.product-img {
		width: 100%;
	}
	
	.product-info {
		padding: 15px;
		padding-top: 0;
	}

	.product-title {
		font-family: "Montserrat", "Roboto", sans-serif;
		text-transform: capitalize;
		font-weight: 400;
		font-size: 1.5em;
		margin-bottom: 10px;
	}

	.product-price {
		font-family: "Montserrat", "Roboto", sans-serif;
		display: flex;
		flex-wrap: wrap;
		text-align: center;
		font-weight: 700;
		> span {
			width: calc(50% - (5px * 2));
			padding: 5px;
			display: block;
		}
	
		.product-price-new {
			font-size: 1em;
		}
		
		.product-price-old {
			font-size: .75em;
			text-decoration: line-through;
			color: #a7a7a7;
		}
	}
	
	.product-rate {
		margin: 10px 0;

		.icon {
			margin: 3px;
			color: #a7a7a7;
		}
		
		.icon.active {
			color: #686868;
		}
	}
	
	.product-description {
		font-family: "Open Sans", sans-serif;
		line-height: 1.5;
		margin: 10px 0 20px 0;
		color: #686868;
	}
	.product-btn {
		font-family: "Montserrat", "Roboto", sans-serif;
		font-weight: 700;
		
		button {
			display: block;
			width: 100%;
			background-color: #28a745;
			color: white;
			padding: 10px;
			font-size: 1em;
			font-weight: 700;
			border-radius: 5px;
			text-transform: uppercase;
			transition: background-color .5s ease-in-out;
			cursor: pointer;
			border: 0;
		}
		
		:hover {
			background-color: #1e7e34;
		}
		
		.icon {
			margin: 0 10px;
			color: white;
		}
	}
}
/* End product card */